@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
}

aside.ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-has-trigger {
  background: #3B3B3B;
}
.ant-layout-sider-trigger {
  background: #060606 !important;
}
li.ant-menu-item {
  background: #3B3B3B;
}
ul.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-dark.customSidebar.css-dev-only-do-not-override-1xg9z9n {
  background: #3B3B3B;
}
.ant-layout.ant-layout-has-sider.css-dev-only-do-not-override-1xg9z9n {
  background: #3B3B3B;
}
aside.ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-collapsed.ant-layout-sider-has-trigger .sidebar_header,
aside.ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-collapsed.ant-layout-sider-has-trigger .playlist {
  display: none;
}

/* li.ant-menu-item { */
  /* font-size: 22px; */
  /* font-weight: 600; */
  /* color: white; */
/* } */
/*  */
li.ant-menu-item span svg {
  color: #fff !important;
  fill: #fff;
  font-size: 22px;
  margin-right: 8px;
}
/*  */
/* li.ant-menu-item { */
  /* padding: 25px 20px !important; */
/* } */


.music_bannar_bg {
  margin: 50px 0;
  background-image: url('https://i.ibb.co/2qySTnL/Rectangle-24.png');
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
.music_bannar_bg:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(90deg, rgba(0,113,130,1) 18%, rgba(3,238,210,1) 80%);
  z-index: -1;
  opacity: 0.2;
}

.premium_bannar_bg{
  background: linear-gradient(90deg, rgba(0,113,130,1) 80%, rgba(3,238,210,1) 80%);
  width: 100%;
  height: 100%;
}

.ant-modal-content {
  background: #3B3B3B !important;
  border-radius: 50px;  
}